.benefits {
    background: white;
    position:relative;
    display:flex;
    width:90%;
    height:655px;
    bottom:150px;     
    flex-direction: column; 
    padding:90px 15px 0px 100px;
    margin:0 auto;
    &-header {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color:black;
        padding-bottom: 120px;
    }
    &-content {
        display:flex;
        justify-content: space-between;
        width:100%;
    }
    &-item {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        width:25%;
        height:330px;
        &-title {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
        &-link {
            color:blue;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            transition:transform .3s;
        }

    }
}
.item {
    &-link {
        transition: transform .3s   ;
    }
    &-link:hover {
        transform: scale(1.1);
    }
}

@media only screen  and (max-width:1919px) {
    .benefits {
        position : relative;
        bottom:0px;
    }
}

@media only screen  and (max-width:980px) {
    .benefits {
        position : relative;
        bottom:0px;
        padding: 90px 0px 0px 0px;
        &-header {
            padding:0;
            margin-bottom:50px;
        }
    }
}

@media only screen and (max-width:700px) {
    .benefits {
        height: auto;
        display:block;
        flex-direction: column;
        &-content {
            flex-direction: column;
        }
        &-item {
            width:100%;
            height: auto;
            align-items: center;
            margin-bottom:60px;
        }
    }
}
