body {
    margin: 0px auto;

}
html {
    scroll-behavior: smooth;
}
.wrapper {
    z-index:3;
}
.default {
    
    &.menu {
        overflow: hidden;
        .burger-page {
            
            transform: translateX(0); 
        }
    }
}


.content {
    padding:0 px 90px;
}
.block {
    &-description {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color:black;
    }
}
.item {
        &-link {
            &-style {
                text-decoration: none;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #006DFE;
            }
            &-icon{
                &:before {
                    padding-left:20px;
                    content:"";
                    width:100%;
                    height:20px;
                }
            }
        }
}


.object-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

