.prefectures {
    height:100vh;
    &-block {
        margin:0 auto;
        width: 90%;
        margin-top: 132px;  
        margin-bottom:132px;
    }
    &-image {
        width: 50%;
        object-fit: cover;
    }
    &-title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color:black;
    }
    &-description {
        
    }
    &-item {
        padding-bottom:78px;
        display:flex;     
        justify-content: space-between;
        height:100%;


        &-description {
            justify-content: space-between;
            display:flex;
            flex-direction: column;
            width: 620px;

        }
    }
    &-link {
        padding-bottom:36px;
    }
}
@media only screen and (max-width:1500px) {
    .prefectures {

        &-item {
            display:flex;
            }
        
        &-image {
            padding:0 50px 0 0;
            
        }
        &-image:last-child {
                padding:0 0 0 50px;
        }
    }
}

@media only screen  and (max-width:1300px) {
    .prefectures {
        &-item {
            display:flex;
            flex-direction: column;
            padding:0;
            &-description {
                width: auto;
                margin:50px 0;
            }
        }
        &-image {
            width: 100%;
            padding:0;
        }
        &-image:last-child {
            padding:0;
        }
    }
    .block {
                &-description {
                    margin:50px 0;
                }
            }
}