.trip {
    width:90%;
    margin: 0 auto;
    height: 100%;
    &-title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        display:flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &-image{
        transition: transform .3s;
        margin-right:10px;
        &-top {
            margin-bottom: 10px;
            .trip-image:last-child {
                margin-right:0px;
            }
                display:flex;
                
                .trip-image {
                    width:50%;
                    height: auto;
                    display:flex;
                }
        }
        &-bottom {
            .trip-image:last-child {
                margin-right:0px;
            }
            display:flex;
                .trip-image{
                    width:33%;
                    height: auto;
                    display:flex;
                }
        }

    }
    &-image:hover {
        transform:scale(1.1);
    }
}



@media only screen and (max-width:980px) {
    .trip {
        &-image {
            &-top {
                display:flex;
                flex-wrap: wrap;
                .trip-image {
                    width: 100%;
                    margin: 0 0 10px 0;
                }
            }
            &-bottom {
                display:flex;
                flex-wrap: wrap;
                .trip-image {
                    width: 100%;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}




